<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <title> News Manager </title>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    </head>
    <body>
        <div id="app"></div>
        <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
        {% load static %}
        <script src="{% static "foreign.min.js" %}"></script>
        <script src="{% static "js/d3.min.js" %}"></script>
        <script src="{% static "js/keyword.js" %}"></script>
    </body>
</html>