<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
        {% load static %}
        <link rel="stylesheet" href="{% static "css/pieChart.css" %}">
        <link rel="stylesheet" href="{% static "css/initialize.css" %}">
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <title> News Manager </title>
    </head>
    <body>
        <div id="app"></div>
        <script src="{% static "index.min.js" %}"></script>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>

        <script>
          AOS.init();
        </script>
    </body>
</html>