<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet"
          href="{% static "chartist/chartist.min.css" %}">
        <title> News Manager </title>
    </head>
    <body>
        <div id="app"></div>
        <script src="{% static "chartist/chartist.min.js" %}"></script>
        <script src="{% static "chartist-plugin-fill-donut/chartist-plugin-fill-donut.min.js" %}"></script>
        <script src="{% static "keyword.min.js" %}"></script>
        <script src="{% static "js/d3.min.js" %}"></script>
        <script src="{% static "js/keyword.js" %}"></script>
    </body>
</html>